
.ready-button {
    margin: 0px;
    display: block;
    position: absolute;
    bottom: 30%;
    right: 10%;
    font-size: 54px;
    cursor: pointer;
    /*transform: translate(-50%);*/
    font-family: WitchingHour;
    color: #131313;
    transform: translate(-30%, -10%);
    letter-spacing: .15em;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -5px 15px 1px rgba(4,2,1,0.12);
}
.ready-button:hover {
    font-size: 60px;
    transition: transform .1s ease-in;
    transform: translate(-30%, -10%) scaleX(1.05);
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -7px 30px 10px rgba(4,2,1,0.14);
}

#bg-skeleton-7 {
    position: absolute;
    width: 50em;
    bottom: 0;
    left: -13em;
    opacity: 0.4;
}
#bg-skeleton-8 {
    position: absolute;
    width: 50em;
    bottom: 0;
    right: -13em;
    opacity: 0.4;
    transform: scale(-1, 1);
}
#bg-skeleton-9 {
    position: relative;
    top: 1em;
    width: 13em;
    height: 13em;
    z-index: -1;
}
#bg-skeleton-10 {
    position: absolute;
    width: 30em;
    top: 0;
    right: 2em;
    opacity: 0.1;
}
#bg-skeleton-11 {
    position: absolute;
    width: 30em;
    top: 0;
    left: 2em;
    opacity: 0.1;
    transform: scale(-1, 1);
}
#bg-skeleton-12 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    transform: scale(-1, 1);
}
#rolling-skull {
    width: 3em;
    height: 3em;
    position: absolute;
    top: -2em;
    animation: moveSkull 5s linear forwards;
}
#rolling-skull img {
    position: relative;
    width: 3em;
    height: 3em;
    animation: rollinSkull .5s  ease-out infinite;
}
@keyframes rollinSkull {
    from {
        transform: rotate(0);
    } to {
          transform: rotate(360deg);
      }
}
@keyframes moveSkull {
    from {
        -webkit-transform: translate(0, 0);
    } to {
          -webkit-transform: translate(32em, 0);
      }
}
.canvas-container {
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
}
#gameCanvas {
    position: relative;
    width: inherit;
    height: inherit;
    border: 2em solid transparent;
    background-origin: border-box;
    border-image: url('/public/assets/images/bones-border.png') 7% round;
    background-image: url("/public/assets/images/1299277.svg");
    background-size: 20%;
}
#gameCanvas img {
    width: 5em;
    height: 5em;
    position: relative;
}
.timer {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 2%;
    width: 30em;
    height: 20em;
    transform: translate(-50%);
}

#clock {
    position: absolute;
    width: 5em;
    top: 3em;
    display: none;
}
#accuracy-interface {
    position: absolute;
    left: 10%;
    top: 12%;
    width: 200px;
    height: 200px;
    text-align: center;
    transform: translate(-10%);
}
#accuracy-interface-img {
    width: inherit;
}
#accuracy-interface p {
    margin: -.6em 0;
    font-family: xBones;
    font-size: 43px;
}
.cracked-skull {
    pointer-events: none;
    animation: fadeOut .6s ease-out, accuracyClick .6s reverse;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    } to {
          -ms-transform: rotate(360deg);
      }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    } to {
          -moz-transform: rotate(360deg);
      }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    } to {
          -webkit-transform: rotate(360deg);
      }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}
@keyframes spinBack {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(-360deg);
      }
}
.battle-header {
    position: absolute;
    left: 2em;
    top: 2em;
    width: 20%;
    height: 100px;
    background: blue;
}


.hero-border-img {
    position: absolute;
    width: 30em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.9);
}
.battle-log {
    position: absolute;
    right: 1em;
    bottom: 1em;
    width: 30%;
    height: 300px;
    background: green;
}
.hero-health-bar {
    position: absolute;
    left: 23em;
    bottom: 0;
    width: 22em;
    height: max-content;
    overflow: hidden;
}
.hero-health-bar img {
    width: 22em;
    position: relative;
}
.hero-img {
    position: absolute;
    display: block;
    transform: scale(.5,.5);
    top: -10em;
    left: -10em;
}
.sky-skull-img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 5em;
    z-index: -5;
    opacity: .4;
}
@keyframes skySkull {
    from {
        transform: translate(-50%, -50%);
    } to {
        transform: translate(-50%, -400px);
    }
}
@keyframes accuracyClick {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(.7);
    } 80% {
        transform: scale(1.2);
    } 100% {
        transform: scale(1);
    }
}