.backbone-slider-container {
    position: relative;
    width: auto;
    height: auto;
}

.backbone-slider {
    position: absolute;
    top: -105px;
    left: 91px;
    transform: rotate(90deg);
    width: 35px;
    height: 240px;
    opacity: .6;
}
.backbone-slider-thumb {
    position: absolute;
    top: -9px;
    width: 50px;
    height: 50px;
    opacity: .8;
}
.backbone-slider-thumb:hover {
    opacity: 1;
    cursor: url("/public/assets/images/Jekas-pointer.png"),auto;
}