body {
    margin: 0px;
    background-color: #d5cfc3;
}
h3 {
    margin: .5em 0;
}
@font-face {
    font-family: WitchingHour;
    src: url('/public/assets/fonts/WitchingHour.ttf');
}
@font-face {
    font-family: TheGrimRaiders;
    src: url('/public/assets/fonts/TheGrimRaiders-Regular.ttf');
}
@font-face {
    font-family: xBones;
    src: url('/public/assets/fonts/Xbones.ttf');
}

/* Start Page */

.StartPage {
    width: 100%;
    height: 100vh;
}
.welcome-text h1{
    position: absolute;
    font-family: xBones;
    font-size: 40px;
    top: 10%;
    text-align: center;
    width: 100%;
    text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}
.welcome-text h1 span {
    font-size: 82px;
}
.start-button {
    display: block;
    position: absolute;
    font-weight: bold;
    font-family: WitchingHour;
    letter-spacing: .4em;
    top: 50%;
    left: 50%;
    font-size: 72px;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -5px 15px 1px rgba(4,2,1,0.12);
}
.start-button:hover {
    transform: translate(-50%, -50%) scale(1.2);
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -7px 30px 10px rgba(4,2,1,0.14);
}

/* Menu Page */

.MenuPage {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    border: 1.6em solid transparent;
    border-image: url('/public/assets/images/bones-border.png') 10% round;
}
#bg-skeleton-1 {
    position: absolute;
    bottom: 0;
    width: 23em;
    opacity: .5;
    transform: scaleX(-1);
}
#bg-skeleton-2 {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: .3;
}
#bg-skeleton-3 {
    position: absolute;
    width: 18em;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}
#bg-skeleton-4 {
    position: absolute;
    width: 18em;
    top: -4em;
    left: -1em;
    opacity: 0.6;
    transform: rotate(150deg);
}
#bg-skeleton-5 {
    position: absolute;
    width: 18em;
    top: -4em;
    right: -1em;
    opacity: 0.6;
    transform: rotate(-135deg);
}
#bg-skeleton-6 {
    position: absolute;
    width: 80%;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-header {
    position: absolute;
    font-size: 40px;
    text-align: center;
    width: 100%;
    font-family: TheGrimRaiders;
    letter-spacing: 0.3em;
}
.menu-header h1 {
    margin: 0.5em;
}
.menu-container {
    display: grid;
    grid-template-columns: 47% 47%;
    position: absolute;
    width: 80%;
    height: 500px;
    /*background: red;*/
    left: 50%;
    top: 10em;
    transform: translate(-50%);
}
.left-menu-container {
    position: relative;
}
.right-menu-container {
    display: grid;
    grid-template-columns: 17em 17em;
    column-gap: 1em;
    row-gap: 1em;
    position: relative;
}
.stats-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: xBones;
    font-size: 24px;
    font-weight: bold;
    margin: 3em 2em;
    border: 1.1em solid transparent;
    padding: 1em 1em 2em 4em;
    border-image: url('/public/assets/images/skull-border.png') 32% round;
}
.fighter-name {
    font-family: TheGrimRaiders;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.5em;
    position: absolute;
    padding: .5em 1em;
    top: -1.5em;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats-column {
    flex: 1;
    padding: 10px;
}

.stat-item {
    margin-bottom: 5px;
}

.player-thumb {
    width: 100%;
    height: 100%;
    position: relative;
}

.background-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-circle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.thumbnail {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.thumbnail img {
    cursor: pointer;
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: 19%;
    top:13%
}

.rot {
    transform: scaleX(-1);
}

@keyframes mymove {
    100% {
        transform: rotate(360deg);
    }
}

.play-button {
    margin: 0px;
    display: block;
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 64px;
    cursor: pointer;
    /*transform: translate(-50%);*/
    font-family: WitchingHour;
    color: #131313;
    transform: translate(-50%, -50%);
    letter-spacing: .15em;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -5px 15px 1px rgba(4,2,1,0.12);
}
.play-button:hover {
    transition: transform .2s ease-in;
    font-size: 72px;
    transform: translate(-50%, -50%) scaleX(1);
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -7px 30px 10px rgba(4,2,1,0.14);
}

.BattlePage {
    width: 100%;
    height: 100vh;
}
#gameCanvas {
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    border: 1.1em solid transparent;
    border-image: url('/public/assets/images/bones-border.png') 15% round;
}
#gameCanvas img {
    width: 10em;
    position: relative;
}
.battle-header {
    position: absolute;
    left: 2em;
    top: 2em;
    width: 20%;
    height: 100px;
    background: blue;
}
.player-container {
    position: absolute;
    left: 1em;
    bottom: 1em;
    width: 40%;
    height: 300px;
    background: brown;
}
.enemy-container {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 40%;
    height: 300px;
    background: yellow;
}
.fighter-thumb {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    overflow: hidden;
    border-radius: 100%;
}
.player-container .fighter-thumb {
    bottom: 0px;
}
.fighter-thumb img{
    position: absolute;
    width: 500px;
    height: 500px;
}
.enemy-container .fighter-thumb {
    top: 0px;
    right: 0px;
}
.battle-log {
    position: absolute;
    right: 1em;
    bottom: 1em;
    width: 30%;
    height: 300px;
    background: green;
}