body {
    margin: 0;
    background-color: #131313;
}
h3 {
    margin: .5em 0;
}
@font-face {
    font-family: WitchingHour;
    src: url('/public/assets/fonts/WitchingHour.ttf');
}
@font-face {
    font-family: TheGrimRaiders;
    src: url('/public/assets/fonts/TheGrimRaiders-Regular.ttf');
}
@font-face {
    font-family: xBones;
    src: url('/public/assets/fonts/Xbones.ttf');
}

/* Start Page */

.page {
    background-color: #d5cfc3;
    width: 100%;
    height: 100vh;
}
#claw-header {
    z-index: -1;
    transform: rotate(180deg);
}
.welcome-text{
    position: absolute;
    font-family: xBones;
    font-size: 40px;
    top: 10%;
    text-align: center;
    width: 100%;
    text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1);
}
.welcome-text span {
    font-size: 82px;
}
.start-button {
    display: block;
    position: absolute;
    font-weight: bold;
    font-family: WitchingHour;
    letter-spacing: .4em;
    top: 50%;
    left: 50%;
    font-size: 72px;
    cursor: pointer;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -5px 15px 1px rgba(4,2,1,0.12);
}
.start-button:hover {
    transform: translate(-50%, -50%) scale(1.2);
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -7px 30px 10px rgba(4,2,1,0.14);
}

/* Menu Page */

#menu-page {
    box-sizing: border-box;
    border: 1.6em solid transparent;
    border-image: url('/public/assets/images/bones-border.png') 10% round;
}
#bg-skeleton-1 {
    position: absolute;
    bottom: 0;
    width: 23em;
    opacity: .5;
    transform: scaleX(-1);
}
#bg-skeleton-2 {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: .3;
}
#bg-skeleton-3 {
    position: absolute;
    width: 18em;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}
#bg-skeleton-4 {
    position: absolute;
    width: 18em;
    top: -4em;
    left: -1em;
    opacity: 0.6;
    transform: rotate(150deg);
}
#bg-skeleton-5 {
    position: absolute;
    width: 18em;
    top: -4em;
    right: -1em;
    opacity: 0.6;
    transform: rotate(-135deg);
}
#bg-skeleton-6 {
    position: absolute;
    width: 80%;
    opacity: 0.1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-header {
    position: absolute;
    font-size: 40px;
    text-align: center;
    width: 100%;
    font-family: TheGrimRaiders;
    letter-spacing: 0.3em;
}
.menu-header h1 {
    margin: 0.5em;
}
.menu-container {
    display: grid;
    grid-template-columns: 47% 47%;
    position: absolute;
    width: 80%;
    height: 500px;
    /*background: red;*/
    left: 50%;
    top: 10em;
    transform: translate(-50%);
}
.left-menu-container {
    position: relative;
}
.right-menu-container {
    display: grid;
    grid-template-columns: 17em 17em;
    column-gap: 1em;
    row-gap: 1em;
    position: relative;
}
.stats-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-family: xBones;
    line-height: 1.5em;
    font-size: 24px;
    font-weight: bold;
    margin: 3em 2em;
    border: 1.1em solid transparent;
    padding: 1em 1em 1em 4em;
    border-image: url('/public/assets/images/skull-border.png') 32% round;
}
.fighter-name {
    font-family: TheGrimRaiders;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.5em;
    position: absolute;
    padding: .5em 1em;
    top: -1.5em;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats-column {
    flex: 1;
    padding: 10px;
}

.stat-item {
    margin-bottom: 5px;
}

.player-thumb {
    width: 100%;
    height: 100%;
    position: relative;
}

.background-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-circle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.thumbnail {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.thumbnail img {
    cursor: pointer;
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: 19%;
    top:13%
}

.rot {
    transform: scaleX(-1);
}

@keyframes mymove {
    100% {
        transform: rotate(360deg);
    }
}

.play-button {
    margin: 0px;
    display: block;
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 54px;
    cursor: pointer;
    /*transform: translate(-50%);*/
    font-family: WitchingHour;
    color: #131313;
    transform: translate(-50%, -50%);
    letter-spacing: .15em;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -5px 15px 1px rgba(4,2,1,0.12);
}
.play-button:hover {
    font-size: 60px;
    transition: transform .1s ease-in;
    transform: translate(-50%, -55%) scaleX(1.05);
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -7px 30px 10px rgba(4,2,1,0.14);
}

#bg-skeleton-7 {
    position: absolute;
    width: 50em;
    bottom: 0;
    left: -13em;
    opacity: 0.4;
}
#bg-skeleton-8 {
    position: absolute;
    width: 50em;
    bottom: 0;
    right: -13em;
    opacity: 0.4;
    transform: scale(-1, 1);
}
#bg-skeleton-9 {
    position: relative;
    top: 1em;
    width: 13em;
    height: 13em;
    z-index: -1;
}
#bg-skeleton-10 {
    position: absolute;
    width: 30em;
    top: 0;
    right: 2em;
    opacity: 0.1;
}
#bg-skeleton-11 {
    position: absolute;
    width: 30em;
    top: 0;
    left: 2em;
    opacity: 0.1;
    transform: scale(-1, 1);
}
#bg-skeleton-12 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    transform: scale(-1, 1);
}
#gameCanvas {
    position: absolute;
    width: 500px;
    height: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);
    border: 2em solid transparent;
    background-origin: border-box;
    border-image: url('/public/assets/images/bones-border.png') 7% round;
    background-image: url("/public/assets/images/1299277.svg");
    background-size: 20%;
}
#gameCanvas img {
    width: 5em;
    height: 5em;
    position: relative;
}
.timer {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 2%;
    width: 30em;
    height: 20em;
    transform: translate(-50%);
}

#clock {
    position: absolute;
    width: 5em;
    top: 3em;
    display: none;
}
#accuracy-interface {
    position: absolute;
    left: 10%;
    top: 12%;
    width: 200px;
    height: 200px;
    text-align: center;
    transform: translate(-10%);
}
#accuracy-interface img {
    width: inherit;
}
#accuracy-interface p {
    margin: -.6em 0;
    font-family: xBones;
    font-size: 43px;
}
.cracked-skull {
    pointer-events: none;
    animation: fadeOut .6s ease-out;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    } to {
          -ms-transform: rotate(360deg);
      }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    } to {
          -moz-transform: rotate(360deg);
      }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    } to {
          -webkit-transform: rotate(360deg);
      }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}
@keyframes spinBack {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(-360deg);
      }
}
.battle-header {
    position: absolute;
    left: 2em;
    top: 2em;
    width: 20%;
    height: 100px;
    background: blue;
}
.player-container {
    position: absolute;
    left: 3em;
    bottom: 3em;
    width: 25em;
    height: 25em;
}
.hero-actions-container {
    position: absolute;
    top: 0;
    right: -10em;
    width: 10em;
    height: 100%;
    text-align: center;
}
.hero-actions-container div {
    position: relative;
    margin: .3em;
    font-size: 26px;
    font-family: TheGrimRaiders;
    line-height: 3.2em;
    color: #ece2e2;
    width: 2.8em;
    height: 2.8em;
    opacity: .6;
    border-radius: 50%;
    background-image: url("/public/assets/images/1804391.svg"), radial-gradient(#000000b5 0%, #000000b5 30%, #ffffff00 70%, #ffffff00 100%);
    background-repeat: round;
}
/*------------*/
.hero-actions-container div.flip {
    animation: backFlip 1s ease-in-out;
    transform-style: preserve-3d;
}
.hero-actions-container div.active1 {
    border-radius: 50%;
    background-image: url("/public/assets/images/1798087.svg"), radial-gradient(#000000b5 0%, #000000b5 30%, #ffffff00 70%, #ffffff00 100%);
    background-repeat: round;
    opacity: 1;
}
@keyframes backFlip {
    0% {
        transform: rotateX(0deg);
    }
    70% {
        transform: rotateX(90deg) scale(.8);
    }

    100% {
        transform:  scale(.9);
    }
}
#act-1 {
    left: -1.2em;
}
#act-2 {
    left: 0.4em;
}
#act-3 {
    left: 0.7em;
}
#act-4 {
    left: 0.2em;
}
.hero-actions-container div:hover {
    opacity: .9;
    transform: scale(.9);
    transition-duration: .3s ;
}
.hero-border {
    border-radius: 50%;
    width: inherit;
    height: inherit;
}
.hero-inner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21em;
    height: 21em;
    border-radius: 50%;
    background: #d5cfc3;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
#player-hero-img {
    position: relative;
    transform: scale(-1.5,1.5);
}
#hero-border-img {
    position: absolute;
    width: 30em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.9);
}
#hero-health-bar {
    position: absolute;
    left: 23em;
    bottom: 0;
    width: 22em;
    height: max-content;
    overflow: hidden;
}
#hero-health-bar img {
    width: 22em;
    position: relative;
}
.enemy-container {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 40%;
    height: 300px;
    background: yellow;
}
.fighter-thumb {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    overflow: hidden;
    border-radius: 100%;
}
.player-container .fighter-thumb {
    bottom: 0px;
}
.fighter-thumb img{
    position: absolute;
    width: 500px;
    height: 500px;
}
.enemy-container .fighter-thumb {
    top: 0px;
    right: 0px;
}
.battle-log {
    position: absolute;
    right: 1em;
    bottom: 1em;
    width: 30%;
    height: 300px;
    background: green;
}