#skull-column-left {
    position: absolute;
    background-image: url('/public/assets/images/32856.png');
    width: 15em;
    height: 32em;
    left: 5em;
    top: 5em;
    opacity: 0.7;
    background-repeat: repeat-y;
}
#skull-column-right {
    position: absolute;
    background-image: url('/public/assets/images/32856.png');
    width: 15em;
    height: 32em;
    right: 5em;
    top: 5em;
    opacity: 0.7;
    background-repeat: repeat-y;
    transform: scale(-1, 1);
}

#bg-skeleton-13 {
    width: 18em;
    top: -3em;
    left: -1em;
    opacity: 1;
    transform: rotate(370deg);
}
#bg-skeleton-14 {
    position: absolute;
    width: 18em;
    top: 0em;
    right: 0em;
    opacity: 1;
    transform: scale(1, -1) rotate(-163deg);
}

#bg-skeleton-15 {
    position: absolute;
    width: 50em;
    bottom: 0em;
    right: 40%;
    opacity: 0.9;
    transform: translate(50%, 0%) scale(-1, 1);
    z-index: 4;
}

#bg-skeleton-16 {
    position: absolute;
    width: 20em;
    bottom: 2em;
    left: 5%;
    opacity: 0.8;
    z-index: 4;
}

#bg-skeleton-17 {
    position: absolute;
    width: 100%;
    bottom: 0em;
    opacity: 0.3;
    left: 0em;
    transform: scale(-1, 1);
}

#bg-skeleton-18 {
    position: absolute;
    width: 60em;
    bottom: 0em;
    right: -10em;
    opacity: 0.3;
    transform: scale(.7, 1);
}

#result-content-container {
    width: 40em;
    height: fit-content;
    border-radius: 5em;
    padding: 2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: xBones;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    font-size: 16px;
    background: #d5cfc3c2;
    z-index: 3;
}

#result-content-container .player-thumb {
    width: 15em;
    height: 15em;
    float: left;
    margin: 0 15px 0 0;
}

#play-again-btn {
    position: absolute;
    top: 1em;
    left: 50%;
    width: 9em;
    height: 6em;
    background: none;
    transform: translate(-50%, 50%);
    overflow: hidden;
    border-radius: 42% 58% 19% 81% / 36% 34% 66% 64%  ;
}

#play-again-btn:hover {
    background: ghostwhite;
    animation: btntt 4s infinite reverse ease-in-out;
    cursor: pointer;
}

@keyframes btntt {
    0% {
        border-radius: 42% 58% 19% 81% / 36% 34% 66% 64% ;
    }
    10% {
        border-radius: 59% 41% 19% 81% / 36% 53% 47% 64% ;
    }
    30% {
        border-radius: 27% 73% 60% 40% / 16% 67% 33% 84% ;
    }
    50% {
        border-radius: 74% 26% 87% 13% / 52% 29% 71% 48% ;
    }
    80% {
        border-radius: 79% 21% 22% 78% / 31% 53% 47% 69% ;
    }
    90% {
        border-radius: 43% 57% 20% 80% / 33% 48% 52% 67%  ;
    }
    100% {
        border-radius: 59% 41% 19% 81% / 36% 53% 47% 64% ;
    }
}

#play-again-btn img {
    height: inherit;
    width: inherit;
}